html {
  height: 100%;
  width: 100%;
}

body{ 
   font-family: "Comic Sans MS", Sans-Serif;
  background-image: url("Screenshot\ 2025-08-06\ 151904.png")
  

  
    
    
    
    
    
    }

nav{

 display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #FFFFFF;
  font-size: 30px;
  border-radius:20px ;
}

.Header{
  display: flex;
  justify-content: center;
  font-size: 30px;
  background-color: #a3d8f5;
}

.container{
  display: flex;
  justify-content: center;
}

.card-text{
  display: flex;
  justify-content: center;
  font-size: 30px;
  
}
button{

  background-color: #ffffff;
  border-color: #ffffff;
  border-radius: 20px;
  font-size: 40px;
  color: #3e1895;
}
